<div class="container-fluid" id="tb">
    <h3 class="text-center">Customers</h3>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">S.No</th>

                <th scope="col">Title</th>

                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let data of myData ;let i=index">
            <tr>
                <td>{{i+1 }}</td>

                <td>{{data.title}}</td>
                <td>{{data.firstname}}</td>
                <td>{{data.lastname}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.email}}</td>
                <td>
                    <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" (click) = "onClickMe()">
                                <h3> Fetch Bill</h3>
                               </button>
                              -->
                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">


                                <!-- Modal body -->
                                <div class="modal-body">
                                    <h5>Added a new Customer!</h5>

                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Accept</button>
                                    <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                                </div>

                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-secondary" (click)="delete(data._id)">Reject</button> &nbsp;
                    <button type="submit" class="btn btn-info" (click)="accept(data._id)" data-toggle="modal" data-target="#myModal">accept</button> &nbsp;
                    <button type="submit" class="btn btn-primary"><a  class="text-white" routerLink='view-user/{{data._id}}'>View</a></button>
                </td>
            </tr>

        </tbody>
    </table>
</div>